<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>URL</key>
    <dict>
      <key>MediaPortal</key>
      <dict>
        <key>Identifier</key>
        <string>com.plexapp.plugins.mediaportal</string>
        <key>URLPatterns</key>
        <array>
          <string>(.*)/video/mediaportal/playstream(.*)</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>